@import 'vars';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: $textColor;
}

.button {
  background: $buttonColor;
  border-radius: 30px;
  width: 234.06px;
  height: 48.6px;
  color: $textColor;
  border: none;

  &:hover {
    cursor: url('../img/cursor.png'), pointer;
  }
}

.heading {
  color: $textColor;
  font-size: 48px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@import 'header';
@import 'games';
@import 'game';

@import 'mobile';
