@import 'vars';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
}

.center {
  padding-left: calc(50% - 620px);
  padding-right: calc(50% - 620px);
}

// .wrapper {
//   display: grid;
//   grid-template-columns: repeat(12, 1fr);
//   grid-template-rows: 1fr 1fr;
// }

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: $textColor;
}

@import 'header';
@import 'games';
